<h1 class="text-center">SEARCH RESULTS</h1>
<h2 class="text-center">Number of results returned: <%= @results.length %></h2>

<% for i in (0...@results.length) do %>
	<div>
		<%= (i+1).to_s %>: 
		<a target="__blank" href="<%= @results[i]['previewUrl'] %>">
		<%= @results[i]['trackName'] %>
		</a>
		$<%= @results[i]['trackPrice'] %>
	<%= link_to 'Details', '/show/' + @results[i]['trackId'].to_s %>
	</div>
<% end %>