<h1 class="text-center"><%= @matter.title %></h1>
<div class="container">
	<div>
		<h4><%= @matter.description %></h4>
	</div>


<div>
		<% @matter.actns.each do |r| %>
			<div class="alert alert-info">
				<h3>
					<a href="/actns/<%= r.id %>">
						<% r.title %>
					</a>
				</h3>
			</div>
		<% end %>
	</div>
	
			<%= link_to 'Edit', edit_matter_path(@matter), method: :get, :class => "btn btn-warning" %>
			<%= link_to 'Delete', matter_path(@matter), method: :delete, :class => "btn btn-danger" %>
	</div>


